<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="Suite1" parallel="classes" thread-count="1"  >
    <listeners>
      <listener class-name="GenerateReport"></listener>
    </listeners>
    <test name="Regression Test" >
        <classes>
            <class name="LandingPageTest" />
            <class name="LandingPageTest1" />
            <class name="LandingPageTest2" />
            <class name="LandingPageTest3" />
        </classes>
    </test>
</suite>
